<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://assignment-3-rizky.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d04f5d8e-d9b2-4abd-9bda-2cd3b68e5f34/resourceGroups/RG-Onboarding-Ariq-Rizky/providers/Microsoft.Web/sites/assignment-3-rizky</ResourceId>
    <UserName>$assignment-3-rizky</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://assignment-3-rizky.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>